.calculator{
  width: 252px;

  border: solid 8px #1C1D1F;
  background: #1C1D1F;

    font-family: 'Exo 2', sans-serif;
}
.logo{
  width: 250px;
  padding: 10px 0 10px 5px;

  color:#fff;
  background: #1C1D1F;
}
.display{
  width: 242px;
  height: 60px;
  margin:0 5px 10px;
  padding-top: 15px;

  text-align: center;

  color: rgb(14, 153, 137);
  background: #35383e;
text-shadow: rgb(0, 194, 165) 0px 0px 5px;

  font-size: 36px;
  font-weight: 600;
}

.button{
  display: inline-block;

  width: 50px;
  height: 35px;
  margin:5px;
  padding-top: 15px;

  text-align: center;

  color:#fff;
  background: black;
}

.spacial_button{
  background: #FF9133;
}

.functional_button{
  background: #898D8E;
}
