.calculator {
    width: 252px;

    border: solid 8px #1C1D1F;
    border-radius: 5px;
    background: #404347;

    font-family: 'Exo 2', sans-serif;
}

.logo {
    width: 250px;
    padding: 10px 0 10px 5px;

    color: #fff;
    background: #1C1D1F;
}

.display {
    width: 248px;
    height: 60px;
    margin: 0 0px 8px;
    padding-top: 15px;

    text-align: center;

    color: rgb(14, 153, 137);
    border: 2px solid #fff;
    border-radius: 3px;
    background: #35383e;
    text-shadow: rgb(0, 194, 165) 0px 0px 5px;

    font-size: 36px;
    font-weight: 600;
}

button {
    display: inline-block;

    width: 50px;
    height: 40px;
    margin: 5px;
    padding-top: 5px;

    cursor: pointer;
    text-align: center;

    color: black;
    border-radius: 9px 9px 9px 9px;
    background: #FBFAF7;

    font-size: 20px;
    font-weight: 600;
}

button.special_button {
    color: #fff;
    background: #FF9133;
}

button.functional_button {
    color: #fff;
    background: #898D8E;
}

button:focus, input:focus{
    outline: none;
}
